<html>

    <body>
        <div class="homeLink">
            <a href="/">Home</a>
        </div>
    <hr>
    {{#if result}}
        <h2>{{result.name}}'s Details:</h2>
        <li>Class: {{result.class}}</li>
        <li>Alignment: {{result.align}}</li>
        <li>Level: {{result.level}}</li>
        <br>
        <p>Delete this hero?<a href="/delete?name={{result.name}}"><button>DELETE</button></a></p>
    {{else}}
        <h2>Error: {{name}} not found</h2>
    {{/if}}
    </body>

</html>